.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Add_images article {
  padding: 0;
}

.Add_images article figcaption {
  float: left;
  width: 100%;
  padding: 0 0px 0 10px;
}

.Add_images article figcaption ul li {
  list-style: none;
  float: left;
  width: 100px;
  border: 3px solid #722a8c;
  position: relative;
  margin: 0 10px 10px 0;
}
.Add_images article figcaption ul span {
  position: absolute;
  background-color: #722a8c;
  top: 0;
  right: 0;
  width: 20px;
  text-align: center;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  opacity: 1;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}




















